<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>FakeCSV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
{% if request.user.is_authenticated %}
<header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mx-4 font-weight-bold" href="{% url 'schema_list' %}">FakeCSV</a>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav col-10">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'schema_list' %}">Schemas</a>
                </li>
            </ul>
            <ul class="navbar-nav col-2 justify-content-end">
                <li class="nav-item active">
                    <div class="btn-group">
                        <a class="nav-link" style="white-space: nowrap">Hello, <b>{{ user.username }}</b></a>
                        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                    </div>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
</header>

{% block container %} {% endblock %}

{% block scripts %}
{% endblock scripts %}
</body>
</html>