{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block container %}
    <div class="container">
        <div class="row mt-4">
            <form method="POST" action="">
                {% csrf_token %}

                {% for field in form.visible_fields %}
                    <div class="form-group col-md-3">

                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>

                        {{ field }}

                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}

                <div id="form-container">

                    {{ formset.management_form }}
                    {% for form in formset %}
                        <div class="row schema-form mt-3">
                            {% for field in form.visible_fields %}
                                <div class="form-group col">

                                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>

                                    {{ field }}

                                    {% for error in field.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>

                            {% endfor %}
                            <button class=" mt-4 btn btn-danger btn-sm col-md remove-form" type="button">Delete</button>
                        </div>
                    {% endfor %}

                    <button id="add-form" class="btn btn-primary mt-2" type="button">Add Another column</button>
                    <button class="btn btn-success float-right mt-2" type="submit">Create</button>
                </div>

            </form>


        </div>
    </div>
{% endblock %}
<script>
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    let schemaForm = document.querySelectorAll(".schema-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = schemaForm.length - 1
    addButton.addEventListener('click', addForm)

    function addForm(e) {
        e.preventDefault()

        let newForm = schemaForm[0].cloneNode(true)
        let formRegex = RegExp(`form-(\\d){1}-`, 'g')

        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
        container.insertBefore(newForm, addButton)

        totalForms.setAttribute('value', `${formNum + 1}`)
    }

    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 4) {
            btn.closest('.schema-form').remove();
            var forms = $('.schema-form');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i = 0, formCount = forms.length; i < formCount; i++) {
                $(forms.get(i)).find(':input').each(function () {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }

    $(document).on('click', '.remove-form', function (e) {
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });

</script>