{% extends 'base.html' %}

{% block container %}
<main class="container my-5">
    <div class="form-inline mb-4">
        <h5 class="px-4">{{ schema.name }} schema</h5>
        <a href="{% url 'update_schema' schema.id %}">Edit scheme</a>
    </div>
        <table class="table table-bordered mx-auto" style="width: 90%">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Column name</th>
            <th scope="col">Column type</th>
        </tr>
        </thead>
        <tbody>
        {% for column in schema.columns.all %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ column.name }}</td>
            <td>{{ column.type }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


    <div class="form-inline mb-4">
        <h5 class="px-4">Data sets</h5>
         <form class="form-inline ml-auto" method="post" >
             {% csrf_token %}
            <label for="inputRows" class="visually-hidden ml-auto">Rows:</label>
            <input type="number" class="form-control ml-auto mr-3" name="input-rows" style="width: 40%" id="inputRows">
            <button id="generate-data" value="{{ schema.id }}" type="submit" class="btn btn-success mr-4">Generate data</button>
        </form>
    </div>
        <table id="dataset-tabel" class="table table-bordered mx-auto" style="width: 90%">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Created</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for dataset in schema.datasets.all %}
                <tr>
                    <td class="dataset-btn" id="{{ dataset.id }}">{{ forloop.counter }}</td>
                    <td>{{ dataset.created_at|date:"Y-m-d" }}</td>
                    <td><p id="status-btn{{ dataset.id }}" class="btn btn-{% if dataset.csv_file %}success{% else %}secondary{% endif %}">{{ dataset.status }}</p></td>
                    <td id="download-td{{ dataset.id }}">
                        {% if dataset.csv_file %}<a href="{{ dataset.csv_file.url }}" id="download-btn{{ dataset.id }}"
                                                    class="p mr-4">Download</a>{% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

</main>
{% endblock %}

{% block scripts %}
<script>
    $(document).on('click', '#generate-data', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "create_dataset" %}',
      data: {
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        inputRows: $('#inputRows').val(),
        schemaId: $('#generate-data').val(),
        action: 'post'
      },
      success: function (json) {
        if (json['success']){
            let table = document.getElementById("dataset-tabel");
            let tbodyRowNumber = (table.tBodies[0].rows.length) + 1; // count rows in <tbody> + 1

            let id = json['id'];
            let created = json['created'];
            let status = json['status'];
            let newRowContent;

            newRowContent = `
                    <tr>
                        <td class="dataset-btn" id="${id}">${tbodyRowNumber}</td>
                        <td>${created}</td>
                        <td><p id="status-btn${id}" class="btn btn-secondary">${status}</p></td>
                        <td id="download-td${id}">
                        </td>
                    </tr>
            `
            $("#dataset-tabel tbody").append(newRowContent);

            $.ajax({
              type: 'POST',
              url: '{% url "update_dataset_status" %}',
              data: {
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                inputRows: $('#inputRows').val(),
                schemaId: $('#generate-data').val(),
                datasetId: id,
                action: 'post'
              },
              success: function (json) {
                if (json['success']){
                    let table = document.getElementById("dataset-tabel");
                    table.deleteRow(table.rows.length - 1);

                    let tbodyRowNumber = (table.tBodies[0].rows.length) + 1; // count rows in <tbody> + 1

                    let id = json['id'];
                    let created = json['created'];
                    let status = json['status'];
                    let csv_file = json['csv_file'];

                    let newRowContent;
                    newRowContent = `
                        <tr>
                            <td class="dataset-btn" id="${id}">${tbodyRowNumber}</td>
                            <td>${created}</td>
                            <td><p id="status-btn${id}" class="btn btn-success">${status}</p></td>
                            <td id="download-td${id}">
                                <a href="${csv_file}" id="download-btn${id}" class="p mr-4">Download</a>
                            </td>
                        </tr>
                    `
                    $("#dataset-tabel tbody").append(newRowContent);
                }
              },
              error: function (xhr, errmsg, err) {
              }
            });
        }
      },
      error: function (xhr, errmsg, err) {
      }
    });
  })
</script>
{% endblock scripts %}