{% extends 'base.html' %}
{% block container %}

{% load crispy_forms_tags %}

<main class="container py-5 ">
    <form class="text-left form-contact" method="POST">
        <div class="d-flex justify-content-between">
            <h4 class="text-left">New schema</h4>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="py-3 justify-content-left">
            {% csrf_token %}
            <div>
                {% crispy form 'bootstrap4' %}
            </div>

            <h4 class="text-left">Schema Columns</h4>
            <div class="d-flex justify-content-between py-3 justify-content-left">
                 {{ formset.management_form }}
                 {% for formset_form in formset %}
                    {{ formset_form|crispy }}
                    {# {% crispy formset_form 'bootstrap4' %} #}
                 {% endfor %}
            </div>
        </div>
    </form>
</main>

{% block scripts %}
<script>
    $("#id_brand").change(function () {
      var brandId = $(this).val();

      $.ajax({
        url: '{% url 'main_app:load-prototypes' %}',
        data: {
          'brand': brandId
        },
        success: function (data) {
          $("#id_prototype").html(data);
        }
      });
    });
</script>
{% endblock scripts %}

{% endblock %}